.page-title {
    width: 100%;
    background: #fa5252;
    padding: 10px;
    text-align: left;
    font-weight: 900;
    font-size: 20px;
    color: #f8f9fa;
}
.register-parent-div {
    width: 100%;
    text-align: center;
}
.register-form-div {
    width: 800px;
    display: inline-block;
    margin-top:30px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.register-form-div .col-form-label{
    font-weight: 900;
}
.registerInformation {
    position:relative;
}
.registerInformation p {
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #fa5252;
    display: block;
    position:relative;
    z-index: 99;
}
.registerInformation::before{
    content: ' ';
    border: 5px solid #fff9db;
    position: absolute;
    width: 100%;
    top: 25px;
    left: 0px;
    z-index: 0;
}
.register-form-div .form {
    padding: 25px;
}
.register-form-div .col-id-check-button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    color: #f8f9fa;
    background-color: #fa5252;
}
.form-line {
    text-align: center;
    margin-top: 20px;

}
.form-line div {
    display: inline-block;
    content: ' ';
    width: 25%;
    border: 3px solid #fcc419;
}

.register-parent-div .address-input-div-parent {
    width: 700px;
    display: inline-block;
}
.register-parent-div .address-input-div {
    display: flex;
    margin-top: 5px;
}
.register-parent-div .address-input-div button {
    border: none;
    padding: 10px;
    border-radius: 3px;
    background: #fa5252;
    color: #ffffff;
    font-weight: 900;
    margin-left: 5px;
}
.register-parent-div .address-input-div .postCode{
    flex: 0.3;
}
.register-parent-div .address-input-div .bigAddress {
    flex: 0.8;
}
.register-parent-div .address-input-div .addressDetail {
    flex: 0.5;
}
.register-parent-div .address-input-div span {
    width: 100px;
    font-weight: 900;
}

.register-parent-div .register-button-div {
    margin: 20px;
}
.register-parent-div .register-button-div button {
    padding: 5px 20px;
    background-color: #fa5252;
    border: none;
    font-weight: 900;
    color: #ffffff;
}
.register-parent-div .successMessage {
    color: green;
    font-weight: 900;
    font-size: 0.8em;
}
.register-parent-div .errorMessage {
    color: #fa5252;
    font-weight: 900;
    font-size: 0.8em;
}
.makeMarginTop20 {
    margin-top: 20px;
}
@media (max-width: 850px) {
    .register-form-div {
        width: 100%;
        display: inline-block;
        margin-top:10%;
        background-color: #ffffff;
    }
}