.selectedPersonDiv {
    width: 100%;
    display: inline-block;
}
.selectedPersonItemDiv {
    margin-bottom: 3px;
    display: flex;
}
.selectedPersonItemDiv div:nth-child(1) {
    flex:1;
    font-weight: 900;
}
.selectedPersonItemDiv div:nth-child(2) {
    flex: 1;
    background-color: #ffffff;
    margin: 0px 5px;
    font-weight: 900;
}
.selectedPersonItemDiv .main-setting {
    background-color: #ffffff;
    font-weight: 900;
    margin: 0 5px;
    padding: 0 5px;
}
.selectedPersonItemDiv .x-button {
    padding: 0 10px;
    background-color: #ffffff;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
}