.mainParentDiv {
    display: block;
}
.mainParentDiv .mainMenuBar {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dadada;
    position: sticky;
    top: 0;
    z-index: 0;
    background: #ffffff;
}
.mainParentDiv .mainBody {
    height: 100vh;
    text-align: center;
}
.mainParentDiv .commonMenuBar {
    width: 100%;
    text-align: right;
}
.mainParentDiv .commonMenuBar >div {
    padding: 5px;
    font-weight: 900;
}
@media(max-width: 765px) {
    .mainParentDiv .mainMenuBar{
        width: 100%;
    }
}