.navbar{
    padding: 0px !important;
}
.navBarDiv{
    width: 50%;
    display: inline-block;
}
@media(max-width: 765px) {
    .navbar {
        text-align: center;
        display: block;
        margin: 10px;
    }
    .navbar-brand {
    }
    .navBarDiv {
        width: 100%;
    }
    .nav-p {
        padding: 0.5rem 1rem;
        margin: 0 auto;
        font-weight: 800;
        border: none;
    }
}
@media(min-width: 765px) {
    .nav-p {
        margin: 0 auto;
        width: 100px;
        height: 50px;
        line-height: 50px;
        font-weight: 800;
        border-right: 1px solid #dadada;
    }
    .nav-p.first {
        margin: 0 0 0 20px;
        border-left: 1px solid #dadada;
    }
}
.KJC {
    font-size: 20px;
    color: red;
    font-weight: 900;
}