.user-information-parent-title ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.user-information-parent-title li {
    float: left;
}

.user-information-parent-title li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.user-information-parent-title li a:hover {
    background-color: #111;
}
@media (max-width: 800px) {
    .user-information-parent-div{
        width: 100%;
    }
}