.manageRoomRegisterParentDiv {
    margin-top: 30px;
    width: 1000px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 10px;
}
.manageRoomRegisterParentDiv .registerTitle {
    padding: 10px;
    background-color: #fa5252;
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
}
.manageRoomRegisterParentDiv .registerBody {
    padding: 20px;
}
.manageRoomRegisterParentDiv .registerBody .col-form-label{
    font-weight: 900;
}
.manageRoomRegisterParentDiv .registerBody .registerButton button{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
}
.manageRoomRegisterParentDiv .error {
    color: red !important;
}
@media (max-width: 1000px) {
    .manageRoomRegisterParentDiv {
        width: 100%;
    }
}