.manageMovieRegisterParentDiv {
    margin-top: 30px;
    width: 1000px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 10px;
}
.manageMovieRegisterParentDiv .registerTitle {
    padding: 10px;
    background-color: #fa5252;
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
}
.manageMovieRegisterParentDiv .registerBody {
    padding: 20px;
}
.manageMovieRegisterParentDiv .registerBody .col-form-label{
    font-weight: 900;
}
.manageMovieRegisterParentDiv .registerBody .registerButton button{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
}