.directorMenu .navbar{
    padding: 0px !important;
}
.navBarDiv.directorMenu{
    width: 80%;
    display: inline-block;
}
.directorMenu .navbar-toggler {
    float: right;
}
@media(max-width: 765px) {
    .navBarDiv.directorMenu {
        width: 100%;
    }
    .directorMenu .navbar {
        text-align: center;
        display: block;
        margin: 10px;
    }
    .directorMenu .navbar-brand {
        margin: 0;
    }
    .directorMenu .navBarDiv {
        width: 100%;
    }
    .directorMenu.nav-p {
        padding: 0.5rem 1rem;
        margin: 0 auto;
        font-weight: 800;
        border: none;
    }
}
@media(min-width: 765px) {
    .directorMenu .nav-p {
        margin: 0 auto;
        height: 50px;
        line-height: 50px;
        font-weight: 800;
        border-right: 1px solid #dadada;
    }
    .directorMenu ul {
        width: 100%;
        display: flex;
    }
    .directorMenu li {
        flex: 1;
        overflow:hidden;
    }
    .directorMenu .nav-p.first {
        margin: 0 0 0 20px;
        border-left: 1px solid #dadada;
    }
}
.directorMenu .KJC {
    font-size: 20px;
    color: red;
    font-weight: 900;
}